.main-div{
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr ; */

}
.div1{
    width: 465px;
    height: 568px;
    
    background-color: black;
}
.div2{
    width: 262px;
    height: 263px;
    
    background-color: rgb(196, 77, 77);
}
.div3{
    width: 193px;
    height: 295px;
    
    background-color: rgb(120, 196, 84);
}
.div4{
    width: 193px;
    height: 295px;
    
    background-color: rgb(90, 44, 147);
}
.div5{
    width: 262px;
    height: 263px;
    
    background-color: rgb(206, 198, 42);
}